body{
    background-color: lightblue;
}
h1{
    text-align: center;
    
}
.delete-form {
            display: inline;
        }
        .delete-button {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
        }
        .delete-button:hover {
            background-color: #d32f2f;
        }
        table {
            border-collapse: collapse;
            width: 60%;
            margin: 20px auto;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            background-color: #fff;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f0caca;
        }